<div class="container">
  <div class="ec-customer-edit-title-group">
    <h2 class="ec-customers-edit-title">登録情報編集</h2>
    <%= link_to '退会する', withdraw_confirm_customer_path, class: "btn btn-danger" %>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal customer-registration-form", novalidate: "novalidate" }) do |f| %>
    <%= render partial: "customer_form_item", locals: {resource: resource, f: f} %>
    <div class="col-xs-offset-2 col-xs-10", style= "padding-left: 0px">
      <%= f.submit "編集内容を保存する", class:"btn btn-success", style: "width: 12em" %>
    </div>
  <% end %>
</div>