header .navbar {
  border-bottom: 1px solid #898989;
}
/*ログインadmin.nameの表示サイズ*/
header .navbar-brand {
  font-size: 15px;
}
/*検索欄の右側に設定*/
.search-btn {
  margin-right: 45px;
}
/*エラーメッセージ*/
.errors-message {
  color: red;
}
/*new,editフォームの行方向、列方向の余白設定*/
.new-form-table, .edit-form-table {
  border-collapse: separate;
  border-spacing: 5px 40px;
}

#notice {
  color: green;
}