<div class="tab_wrap about-tab">
  <input id="tab1" type="radio" name="tab_btn" checked>
  <input id="tab2" type="radio" name="tab_btn">
  <input id="tab3" type="radio" name="tab_btn">

  <div class="tab_area">
    <label class="tab1_label" for="tab1">当店について</label>
    <label class="tab2_label" for="tab2">ご利用ガイド　　</label>
    <label class="tab3_label" for="tab3">ご質問</label>
  </div>
  <div class="panel_area">
    <div id="panel1" class="tab_panel about-us">
      <!-- 当店について -->
      <div class="about-us-content">
        <h3>当店について</h3>
        <div class="about-naganocake-visual">
          <p class="copy">このおいしさもわくわくも</p>
          <p class="copy">きっと誰かとシェアしたくなる</p>
          <div class="about-us-visual shop">
            <div class="shop-cover"></div>
          </div>
        </div>
        <div class="about-nagano-cake-text">
          <p>
            <br>
            毎度ご愛好賜り誠にありがとうございます。<br>
            当店は長野県産のフルーツをふんだんに使ったスイーツを皆様にお届けするパティスリーです。<br>
            <br>
            皆様にご支持をいただき、この度店舗販売だけでなく、オンラインでもお買い求めいただけるようになりました。<br>
            一人でも多くの皆様に当店のケーキをお楽しみいただけますことを大変うれしく思っております。<br>
            <br>
            お誕生日に、記念日に、大切な人への贈り物に…<br>
            皆様の彩あるシーンに是非当店のオンラインストアも併せてご利用ください。<br>
          </p>
        </div>
      </div>
      <!-- 当店のシェフ -->
      <div class="about-us-content">
        <h3>当店のシェフ</h3>
        <h4>ジェイ・レイルズ・クエリ</h4>
        <div class="about-us-visual cheff">
          <div class="cheff-cover"></div>
        </div>
        <div class="plofile">
          <p class="plofile-title"><プロフィール></p>
          <p class="plofile-text">
            高校卒業後、フランスパリのDMM調理専門学校にて学び、主席で卒業する。<br>
            パリの老舗パティスリー gateau Matsumoto にて巨匠Yukihiro Matsumoto弟子入りし、<br>
            5年間パティシエとしての経験を積む。<br>
            その後、数々のミシュラン三ツ星のグランメゾンで10人のシェフの元で修行を積む。<br>
            2013年フランスのリヨンで開催されたクープ・デュ・モンド・ドゥ・ラ・パティスリーで優勝したことを機に独立し、
            パリのモントルグイユ51番地に自身のパティスリー、サロン・ド・ジェイクエリを開店。<br>
            自身の店もミシュラン2つ星を獲得し、舌の肥えたパリジャン、パリジェンヌをうならせた。<br>
            2018年に日本人の妻と結婚し、新たな味の探求のため来日。<br>
            長野県の豊かな風土と新鮮なフルーツに胸打たれ、2019年5月に当店ながのCAKEをオープン。<br>
            現地のみずみずしいフルーツをふんだんに使った鮮やかなタルトを得意とし、SNS上の口コミで広がりを見せる。<br>
          </p>
        </div>
      </div>
    </div>
    <div id="panel2" class="tab_panel guide">
      <div class="guide-box">
        <h4>ご利用にあたって</h4>
        <p>
          【プライバシーポリシーについて】<br>
          <br>
          弊社では、当サイトをお客様に安心してご利用いただくため、法令およびプライバシーポリシーに従い個人情報の取り扱いについて厳重に管理してまいります。<br>
          <br>
          プライバシーポリシー<br>
          <br>
          【著作権について】<br>
          <br>
          本サイトに記載しております画像、テキスト情報などの掲載情報は著作権法および各種法律により保護されております。 弊社の許諾なく転載したり、複写したりする事を禁止いたします。<br>
          <br>
          【リンクについて】<br>
          <br>
          本サイトへのリンクは原則として自由です。ただし、下記のサイトへのリンクはお断りさせていただきます。<br>
          また、弊社はリンクされたサイトに対して責任と義務を負うことはありません。<br>
          <br>
          弊社の誹謗中傷するものやアダルトコンテンツを含むサイト<br>
          フレームリンク等、本サイトの明確性が損なわれるリンク<br>
          その他、本サイトの趣旨に合わない場合や、信用を害する恐れがあると判断した場合<br>
          弊社より削除の申し出があった際は直ちにリンクを削除していただくものとします。<br>
          <br>
          【禁止事項について】<br>
          <br>
          本サイトのご利用に関し、下記の行為を行ってはならないものとします。<br>
          <br>
          虚偽の登録内容の申請<br>
          弊社または第三者に迷惑、不利益もしくは損害を与える行為<br>
          営利、転売目的での本サイトの利用<br>
          本サイトの運営を妨げ、支障をきたす恐れのある行為<br>
          その他、弊社が不適切と判断する行為<br>
          <br>
          【免責事項】<br>
          <br>
          本サイトに掲載された情報の正確性、完全性、最新性などに関して、保障することはできません。<br>
          本サイトに記載している内容は予告なく修正や変更されることがございます。<br>
          天災・事変・その他非常事態により、弊社サービスを運営できない場合、弊社はそれによりお客様に生じた不利益に対しては責任を負わないものとします。<br>
          お客様のご利用環境、操作手順の不備によって生じた損害は保証しないものとします。<br>
        </p>
      </div>
        <div class="guide-box">
          <h4>ご注文方法</h4>
          <p>
            ご注文の商品ページにて個数をご入力し「カートに入れる」をクリックして購入画面へとお進みください。<br>
            ログインまたは新規会員登録後は購入画面の流れに沿って必要項目をご入力いただき、完了に至ります。<br>

            通常入金確認後7営業日以内に発送いたします。商品がそろい次第発送いたしますので組み合わせによっては商品のお届けが遅れる場合がございます。<br>
          </p>
        </div>
        <div class="guide-box">
          <h4>ご注文の変更・キャンセルについて</h4>
          <p>
            発送手配開始前のご注文であれば、承ることが可能でございます。<br>
            下記「通信販売、ご注文に関するお問い合わせ」ページから、メールもしくはお電話よりおはやめにご連絡くださいますようお願いいたします。<br>
            <br>
            ※追加注文の際は、別途ご注文手続きは行わないようお願いいたします。（別注文となりますので、ご注意ください。）<br>
            ※順次発送準備を行っておりますため、お届け日より７日以内となったご注文は、状況によりご希望に添えない場合がございます。最短日のご指定など、お届け日が直近となったご注文の場合は、お電話にてご連絡をいただけますようお願いいたします。<br>
            ※受注生産商品（焼き菓子等）はお届け日の１０日前までにご連絡ください。<br>
          </p>
        </div>
        <div class="guide-box">
          <h4>ご配送について</h4>
          <p>
            ヤマト運輸でのご発送となります。離島等一部地域へのご配達、または、バレンタイン、クリスマス、ゴールデンウィーク、お盆、年末年始などの配送センターが混み合う期間のご配達の場合は、別の運送会社となる場合もございます。<br>
            配送便（冷凍便 冷蔵便 冷凍特別便）が異なる商品を組み合わせたご注文の場合、別梱包でのお届けとなります。<br>
            お届けは日本国内に限らせていただきます。<br>
            離島など一部地域におきまして配送不可能となる場合もございます。<br>
            離島など配送日数がかかる地域へのご配送の場合、一部商品を販売できないことがございますので、ご了承ください。<br>
            道路事情や、地震・台風など気象状況の影響により、ご指定日到着に遅延が発生する場合がございます。ご了承ください。<br>
          </p>
        </div>
        <div class="guide-box">
          <h4>再配達のご依頼について</h4>
          <p>
            ヤマト運輸でのご発送となります。不在票をご用意の上、ヤマト運輸へご依頼ください。<br>
          </p>
        </div>
        <div class="guide-box">
          <h4>送料について</h4>
          <p>
            全国一律800円<br>
            <br>
            配送便（冷凍便 冷蔵便 冷凍特別便）が異なる商品を組み合わせたご注文の場合、別梱包でのお届けとなり、それぞれの送料をご負担いただきます。<br>
            <br>
            オンラインショップでご注文の際の価格です。店頭でのご注文の場合は送料が異なります。<br>
          </p>
        </div>
        <div class="guide-box">
          <h4>お支払方法について</h4>
          <p>
             お支払いは以下の方法がご利用いただけます。<br>
            ・クレジットカード決済<br>
            ・銀行振り込み<br>
            <br>
            下記のカード会社がご利用いただけます。<br>
            <%= image_tag('card.png', style: "width: 200px; height: 30px;") %><br>
            クレジットカード情報（カード番号・名義人名・有効期限等）確認のため、お電話をさせていただく場合がございます。<br>
            代金回収が100万円を超える場合はご利用できませんのでご了承願います。<br>
            与信（カード認証）完了後、商品を発送致します。<br>
            ご入力頂いたカード情報は弊社では閲覧できません。<br>
          </p>
        </div>
    </div>
    <div id="panel3" class="tab_panel qa">
      <h4>よくあるご質問</h4>
      <h5>いつまで保存できますか？</h5>
      <p>
        お買い求めありがとうございます。<br>
        当店のスイーツは生の果物を使用したものとなっております。<br>
        原則到着後当日もしくは翌日までにお召し上がりください。<br>
      </p>
      <h5>いつまで保存できますか？</h5>
      <p>
        お買い求めありがとうございます。<br>
        当店のスイーツは生の果物を使用したものとなっております。<br>
        原則到着後当日もしくは翌日までにお召し上がりください。<br>
      </p>
      </p>
      <h5>いつまで保存できますか？</h5>
      <p>
        お買い求めありがとうございます。<br>
        当店のスイーツは生の果物を使用したものとなっております。<br>
        原則到着後当日もしくは翌日までにお召し上がりください。<br>
      </p>
      </p>
    </div>
  </div>
</div>