// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// カート
.cart-item-table,
.cart-total-table{
	margin-top: 30px;
}

.return-shopping-btn-wrapper{
	margin-top: 10px;
}

.create-order-btn-wrapper{
	margin-top: 50px;
	height: 50px;
}