// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//マイページ
.mypage-title {
  margin-bottom: 20px;
}

.mypage-register-info-table {
  width: 70% !important;
}

.mypage-flex-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  span {
    flex-basis: 100px;
    font-weight: bold;
    font-size: 1.2em;
  }
  a {
    margin-right: 5px;
  }
}
//マイページ/

//会員登録画面

//会員登録画面/