// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//top
.admin-homes-top-title {
  margin-bottom: 50px;
}

.admin-homes-top-message {
  font-size: 20px;
  padding-left: 20px;
}
//top/