// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paginate{
	text-align: center;
}

.row-title{
	font-weight: bold;
}

.products-table{
	margin-top: 30px;
}
// ec-order-new
.ec-order-new-main{
	width: 700px;
	margin: 30px auto;
	h4 {
		font-family: 'Noto Serif JP', serif;
		margin: 50px 0;
		padding-left: 10px;
		border-left: solid 2px gray;
	}
}

.ec-order-title{
	font-family: 'Noto Serif JP', serif;
	margin-bottom: 50px;
}

.ec-select-payment-method{
	margin-left: 30px;
}

.ec-select-address{
	margin-left: 30px;
}

.address-form-table{
	margin-left: 40px;
	td{
		line-height: 50px;
	}
}

.ec-new-order-note{
	font-size: 7px;
	line-height: 10px;
}

.new-order-btn-wrap{
	margin-top: 50px;
	margin-bottom: 50px;
}

// 注文履歴一覧
.orders-table{
	margin-top: 30px;
}

.address-form-table {
  width: 70%;
}

.new-order-btn {
  margin-top: 25px;
}

.my-address, .registered-address {
  margin-left: 55px;
}

// confirm
.order-confirm{
	width: 700px;
	margin: 30px auto;
}

.ec-order-confirm-title{
	font-family: 'Noto Serif JP', serif;
	margin-bottom: 50px;
}

.flex{
	display: flex;
	align-items: flex-end;
	margin-top: 30px;
}

.confirm-products{
	margin-right: 30px;
}

.confirm-info{
	margin-top: 30px;
}

.comfirmation-btn-wrap{
	margin-top: 30px;
}

// thanks-page
.thanks-message{
	font-family: 'Noto Serif JP', serif;
}