// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.paginate{
	text-align: center;
}

.row-title{
	font-weight: bold;
}

.products-table{
	margin-top: 30px;
}

// confirm
.order-confirm{
	margin-bottom: 50px;
}

.flex{
	display: flex;
	align-items: flex-end;
	margin-top: 30px;
}

.confirm-products{
	margin-right: 30px;
}

.confirm-prise{

}

.confirm-info{
	margin-top: 30px;
}

.comfirmation-btn-wrap{
	margin-top: 30px;
}