<% products.each do |product| %>
  <%= link_to product_path(product.id) do %>
    <div class="thumbnail product-thumbnail col-xs-2">
      <%= attachment_image_tag product, :image, :size => '300x300' %>
      <div class="caption">
        <%= product.name %>
        <%= "¥#{product.price}" %>
      </div>
    </div>
  <% end %>
<% end %>