<% products.each do |product| %>
  <%= link_to product_path(product.id) do %>
    <div class="thumbnail product-thumbnail col-xs-2">
      <%= attachment_image_tag product, :image, :size => '280x280' %>
      <div class="caption">
        <p><%= product.name %></p>
        <p><%= "¥#{product.price}" %></p>
        <% if product.sales_status == false %>
        <p class="product-sales-status">売り切れ</p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>